.navbar {
  margin-top: -32px;
}

.menu {
  position: sticky;
  background-color: var(--off-white);
  top: 15px;
  height: 20px;
  padding-left: 15px;
  z-index: 1000;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar ul li {
  color: white;
  font-size: 1em;
  padding-right: 20px;
  display: inline-block;
}

.navbar > .active {
  border-bottom: 2px solid #fff;
}

.home-section {
  height: 103vh;
  background-image: url('./media/220675.jpg');
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

.about-section {
  height: 100vh;
  background-color: lightblue;
}

.projects-section {
  height: 100vh;
  background-color: lightgreen;
}

.skills-section {
  height: 100vh;
  background-color: lightcyan;
}

.resume-section {
  height: 100vh;
  background-color: lightgrey;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -47px;
  margin-left: 45px;
  margin-bottom: 0px;
  min-height: 60vh;
}

body {
  margin-right: 0px;
  margin-left: 0px;
}

span {
  font-family: 'Spectral', serif;
  font-size: 2em;
  /* text-shadow: 3px 3px rgba(93, 93, 93, 0.952); */
  color: rgb(122, 153, 243);
  display: inline;
  padding: 0;
  margin: 0;
}

.a {
  font-family: 'Spectral', serif;
}

.about-paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 0px;
  min-height: 60vh;
}
