* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  margin-top: -16px;
}

.fade {
  animation: fade-in-keyframes 1.3s;
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  position: sticky;
  background-color: var(--off-white);
  top: 15px;
  height: 25px;
  padding-left: 15px;
  z-index: 1000;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar ul li {
  color: white;
  font-size: 1em;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}

navbar ul li > .active,
.navbar ul li:hover {
  border-bottom: 2px solid #fff;
}

.home-section {
  height: 104vh;
  background-image: url('./media/220675.jpg');
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

.about-section {
  background: linear-gradient(
    to top,
    rgb(244, 250, 255) 0%,
    rgb(213, 221, 230) 40%,
    rgb(173, 189, 200) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100vh;
}

.projects-section {
  height: 100vh;
  background: linear-gradient(
    to top,
    rgb(254, 255, 244) 0%,
    rgb(229, 225, 215) 40%,
    rgb(214, 198, 179) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.skills-section {
  height: 104vh;
  background: linear-gradient(
    to top,
    rgb(246, 244, 255) 0%,
    rgb(217, 215, 229) 40%,
    rgb(156, 152, 173) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.resume-section {
  height: 100vh;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 0%,
    rgb(231, 231, 231) 40%,
    rgb(161, 161, 161) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -47px;
  margin-left: 60px;
  margin-bottom: 0px;
  min-height: 65vh;
}

span {
  font-family: 'Spectral', serif;
  font-size: 2em;
  /* text-shadow: 3px 3px rgba(93, 93, 93, 0.952); */
  color: rgb(122, 153, 243);
  display: inline;
  padding: 0;
  margin: 0;
}

.a {
  font-family: 'Spectral', serif;
}

.about-paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 0px;
  min-height: 60vh;
}

.section-title {
  width: max-content;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 10px 18px;
  border: 1px solid;
}

.container {
  padding-top: 65px;
  padding-left: 25px;
}

.center {
  padding-top: 8%;
}

.project-header {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  caption-side: bottom;
  padding-top: 2%;
  text-align: center;
}

.project-description {
  caption-side: bottom;
  padding-top: 1%;
  text-align: center;
}
